/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

//@import "twitter/bootstrap";
//@import "twitter/bootstrap/responsive-utilities";

@import "normalize.css";
@import "foundation.min.css";
@import "semantic.min.css.scss";
@import "compass";
//@import "animate";


body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Cambria, Georgia, serif;
  line-height: 1.5;
}

html {
  background: url("bgr_html.png") repeat-x;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.block-shadow {
  @include box-shadow(0 2px 22px 2px #333);
}

#page {
  width: 1000px;
  margin: 0px auto;
  background: url(bgr_page.png) no-repeat;
}

#menu {
  width: 100%;
  height: 44px;
  text-shadow: 0 1px 1px #333;
}

#header {
  width: 100%;
  height: 132px;
  padding-top: 15px;
  overflow: hidden;
  color: white;
  text-shadow: 0 1px 13px #333;
}

#board {
  width: 100%;
  height: 280px;
  background: url(bgr_board.jpg) no-repeat;
  overflow: hidden;
}

.tj {
  text-align: justify;
}

.tc {
  text-align: center;
}

//#block {
//  @include box-shadow(0 2px 22px 2px #333);
//  @include animate(bounceInDown, .8s, .2s);
//}
//
//.animate1 {
//  &:hover {
//    @include animate(bounce, .8s, .2s);
//  }
//}
//
//.animate_tada {
//  @include animate(tada, 2s, 1s);
//  &:hover {
//    @include animate(tada, .8s, .2s);
//  }
//}

.label, .button i {
  text-shadow: 0 -1px 1px #333;
}


#menu{
  width:100%;
  height:44px;
}
#top_rss{
  float:right;
}
#top_rss img{
  float:left;
}
#mainmenu{
  margin: 0 auto;
  padding:10px 0 0 0;
}
#mainmenu ul{
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  z-index:1000;
}
/*Top level list items*/
#mainmenu ul li{
  position: relative;
  display: inline;
  float: left;
  z-index:1000;
  color:#fff;
  padding:0 0 0 16px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  font-size:13px;
  font-weight:bold;
}
#mainmenu ul li.first{
  padding:0;
  background:none;
}
/*Top level menu link items style*/
#mainmenu ul li a{
  display:block;
  color:#fff;
  z-index:1000;
  height:27px;
  padding:5px 10px 0 10px;
}
* html #mainmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
  display: inline-block;
  float:left;
}
* html #mainmenu ul li ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
  float:none;
}
#mainmenu ul li a:link, #mainmenucat ul li a:visited{
  text-decoration:none;
}
#mainmenu ul li a:hover, #mainmenu .current_page_item a, #mainmenu .select a{
  color:#fff;
  background:#9d0d12;
  text-decoration:none;
}
/*1st sub level menu*/
#mainmenu ul li ul{
  position: absolute;
  left: 0;
  display: block;
  visibility: hidden;
  margin:0 0 0 17px;
}
/*Sub level menu list items (undo style from Top level List Items)*/
#mainmenu ul li ul li{
  display: list-item;
  float: none;
  font-size:1.0em;
  background:none;
  padding:0;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
#mainmenu ul li ul li ul{
  top: 0;
  margin:0;
}
/* Sub level menu links style */
#mainmenu ul li ul li a, #mainmenu ul li.current_page_item ul a, #mainmenu ul li.select ul a{
  width: 160px; /*width of sub menus*/
  height:auto;
  padding: 7px 5px 7px 10px;
  margin: 0;
  background:#9d0d12;
  border-top-width: 0;
  text-align:left;
  text-decoration:none;
  color:#d89ea0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  text-transform:capitalize;
  font-weight:normal;
}
#mainmenu ul li ul li a:hover{ /*sub menus hover style*/
  text-decoration:none;
  color:#fff;
}

a:link {color: #c40015;}      /* unvisited link */
a:visited {color:#c40015;}  /* visited link */
a:hover {color: #f9001b;}  /* mouse over link */
a:active {color: #4d4d4d;}  /* selected link */